.movie{
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.5)), url("../../images/Bg_02.png");
    
}


.movie-section{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    font-weight: 400;
    
}

.section-left{
    padding: 10px;
}

.section-right{
    margin: 20px;
}

.movie-intro{
    display: flex;
    padding : 0 15% 0 0 ;
}

.movie-title{
    font-weight:bolder;
    font-size: 45px;
    color:rgb(19, 18, 18);
}

.movie-ratings{
    margin-left: 20px;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    padding: 10px;
    border: 2px solid rgb(132, 41, 41);
    color: #3a4e2b;
    text-align: center;
    font-size: 30px;
}

.movie-awards{
    margin-top: 20px;
    font-size: large;
    font-weight: 400;
    color:rgb(205, 55, 55)
}

.movie-rating {
    padding-left:3px;
    margin-top:20px;
    display: flex;
}

.movie-info{
    display: flex;
    margin-top: 20px;
    color: #6389a8;
}

.runtime{
    margin-left: 50px;
    color:rgb(203, 75, 75)
}

.total-runtime, .year-of-release{
    color: #F65261;
    font-size: 30px;
    font-weight: 400;
}

.movie-details{
    padding: 30px 15% 0 0;
    color:rgb(132, 41, 41)
}
